<h1 class="text-h1 font-extrabold">Personal projects</h1>
<div class="mt-8">
    <div class="flex justify-center items-center w-screen">
        <div class="w-auto"></div>
          <div class="max-w-6xl flex flex-wrap justify-center items-center w-screen">
            <div class="h-60 w-80 dark:bg-cards bg-light-cards rounded-lg my-5 mx-5">
              <div class="mr-3 ml-3 mt-2">
                <div class="flex justify-between  h-10 rounded-full">
                  <!-- <a href="" class="w-6 h-6"> -->
                  <img src="./assets/img/folder.png" alt="folder.png" class="w-7 h-7 mt-2 ml-2">
                  <!-- </a>
                  <a href=""> -->
                  <img src="./assets/img/github-logo.png" alt="github-logo.png" class="ml-48 w-4 h-4 mt-3 mr-3">
                  <!-- </a>
                  <a href=""> -->
                  <img src="./assets/img/web.png" alt="web.png" class="w-4 h-4 mr-2 mt-3">
                  <!-- </a> -->
                </div>
                <div class=" mt-4 h-32 text-s">
                  <p class="mb-2 font-semibold">The big project</p>
                  <p class="text-xxs">Ceci est mon projet, un beau projet. Il est fait avec JavaScript, Tailwind CSS et pas Lannister MDR, ainsi que Firebase</p>
                </div>
                <div class="flex-grow mt-3 text-xxxs">
                  <a href="">JavaScript</a>
                  <span>•</span>
                  <a href="">Tailwind CSS</a>
                  <span>•</span>
                  <a href="">Firebase</a>
                </div>
              </div>
            </div>
            <div class="h-60 w-80 dark:bg-cards bg-light-cards rounded-lg my-5 mx-5">
              <div class="mr-3 ml-3 mt-2">
                <div class="flex justify-between  h-10 rounded-full">
                  <!-- <a href="" class="w-6 h-6"> -->
                  <img src="./assets/img/folder.png" alt="folder.png" class="w-7 h-7 mt-2 ml-2">
                  <!-- </a>
                  <a href=""> -->
                  <img src="./assets/img/github-logo.png" alt="github-logo.png" class="ml-48 w-4 h-4 mt-3 mr-3">
                  <!-- </a>
                  <a href=""> -->
                  <img src="./assets/img/web.png" alt="web.png" class="w-4 h-4 mr-2 mt-3">
                  <!-- </a> -->
                </div>
                <div class=" mt-4 h-32 text-s">
                  <p class="mb-2 font-semibold">The big project</p>
                  <p class="text-xxs">Ceci est mon projet, un beau projet. Il est fait avec JavaScript, Tailwind CSS et pas Lannister MDR, ainsi que Firebase</p>
                </div>
                <div class="flex-grow mt-3 text-xxxs">
                  <a href="">JavaScript</a>
                  <span>•</span>
                  <a href="">Tailwind CSS</a>
                  <span>•</span>
                  <a href="">Firebase</a>
                </div>
              </div>
            </div>
            <div class="h-60 w-80 dark:bg-cards bg-light-cards rounded-lg my-5 mx-5">
              <div class="mr-3 ml-3 mt-2">
                <div class="flex justify-between  h-10 rounded-full">
                  <!-- <a href="" class="w-6 h-6"> -->
                  <img src="./assets/img/folder.png" alt="folder.png" class="w-7 h-7 mt-2 ml-2">
                  <!-- </a>
                  <a href=""> -->
                  <img src="./assets/img/github-logo.png" alt="github-logo.png" class="ml-48 w-4 h-4 mt-3 mr-3">
                  <!-- </a>
                  <a href=""> -->
                  <img src="./assets/img/web.png" alt="web.png" class="w-4 h-4 mr-2 mt-3">
                  <!-- </a> -->
                </div>
                <div class=" mt-4 h-32 text-s">
                  <p class="mb-2 font-semibold">The big project</p>
                  <p class="text-xxs">Ceci est mon projet, un beau projet. Il est fait avec JavaScript, Tailwind CSS et pas Lannister MDR, ainsi que Firebase</p>
                </div>
                <div class="flex-grow mt-3 text-xxxs">
                  <a href="">JavaScript</a>
                  <span>•</span>
                  <a href="">Tailwind CSS</a>
                  <span>•</span>
                  <a href="">Firebase</a>
                </div>
              </div>
            </div>
            <div class="h-60 w-80 dark:bg-cards bg-light-cards rounded-lg my-5 mx-5">
              <div class="mr-3 ml-3 mt-2">
                <div class="flex justify-between  h-10 rounded-full">
                  <!-- <a href="" class="w-6 h-6"> -->
                  <img src="./assets/img/folder.png" alt="folder.png" class="w-7 h-7 mt-2 ml-2">
                  <!-- </a>
                  <a href=""> -->
                  <img src="./assets/img/github-logo.png" alt="github-logo.png" class="ml-48 w-4 h-4 mt-3 mr-3">
                  <!-- </a>
                  <a href=""> -->
                  <img src="./assets/img/web.png" alt="web.png" class="w-4 h-4 mr-2 mt-3">
                  <!-- </a> -->
                </div>
                <div class=" mt-4 h-32 text-s">
                  <p class="mb-2 font-semibold">The big project</p>
                  <p class="text-xxs">Ceci est mon projet, un beau projet. Il est fait avec JavaScript, Tailwind CSS et pas Lannister MDR, ainsi que Firebase</p>
                </div>
                <div class="flex-grow mt-3 text-xxxs">
                  <a href="">JavaScript</a>
                  <span>•</span>
                  <a href="">Tailwind CSS</a>
                  <span>•</span>
                  <a href="">Firebase</a>
                </div>
              </div>
            </div>
            <div class="h-60 w-80 dark:bg-cards bg-light-cards rounded-lg my-5 mx-5">
                <div class="mr-3 ml-3 mt-2">
                    <div class="flex justify-between  h-10 rounded-full">
                        <!-- <a href="" class="w-6 h-6"> -->
                            <img src="./assets/img/folder.png" alt="folder.png" class="w-7 h-7 mt-2 ml-2">
                        <!-- </a>
                        <a href=""> -->
                            <img src="./assets/img/github-logo.png" alt="github-logo.png" class="ml-48 w-4 h-4 mt-3 mr-3">
                        <!-- </a>
                        <a href=""> -->
                            <img src="./assets/img/web.png" alt="web.png" class="w-4 h-4 mr-2 mt-3">
                        <!-- </a> -->
                    </div>
                    <div class=" mt-4 h-32 text-s">
                        <p class="mb-2 font-semibold">The big project</p>
                        <p class="text-xxs">Ceci est mon projet, un beau projet. Il est fait avec JavaScript, Tailwind CSS et pas Lannister MDR, ainsi que Firebase</p>
                    </div>
                    <div class="flex-grow mt-3 text-xxxs">
                        <a href="">JavaScript</a>
                        <span>•</span>
                        <a href="">Tailwind CSS</a>
                        <span>•</span>
                        <a href="">Firebase</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-auto"></div>
    </div>
    <div class="flex justify-center items-center w-screen">
        <button class="rounded-lg border-2 border-violet-principale hover:bg-violet-principale w-32 h-10">
            Show More
        </button>
    </div>
</div>



